﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thongtin</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
<p>Thông tin</p>